body * {
    box-sizing: border-box;
}

#container{
    border: none;
}

.appController {
    height: 100%;
    width: 100%;
}

.canva {
    background-color: rgba(64, 64, 64, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
    padding : 20px;
    height: 100%;
    width: 100%;

}

.spread {
    background-color: rgba(96, 96, 96, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.page {
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.frame {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-color: rgba(79, 153, 255, 1);

}

.innerpage {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-top-color: rgba(255, 79, 255, 1);
    border-bottom-color: rgba(255, 79, 255, 1);
    border-left-color: rgba(153, 51, 255, 1);
    border-right-color: rgba(153, 51, 255, 1);
}

.characterContainer{
    display: inline-block;
}

.brContainer{
    display: inline-block;
}

.xmlElementContainer{
    display: inline-block;
}

.contentContainer{
    display: inline-block;
}


p{
  text-color: rgba(0, 0, 0, 1);
  text-align: center;
}