body,html{
    height: 100%;
}

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
    margin:0;
    padding:0;
    border-width:0;
}

body {
    -epub-hyphens:auto;
}

body * {
    box-sizing: border-box;
    white-space:PRE;
}

body, .mainContent {
    overflow: hidden;
}

span{
    white-space: pre-wrap;
}

#MainContainerBody{
    height: 100%;
}

#container{
    border: none;
}

.appController {
    height: 100%;
    width: 100%;
}

.canva {
    background-color: rgba(64, 64, 64, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
    padding : 20px;
    height: 100%;
    width: 100%;

}

.spread {
    background-color: rgba(96, 96, 96, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.page {
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.frame {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-color: rgba(79, 153, 255, 1);
    overflow: auto;
}

.innerpage {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-top-color: rgba(255, 79, 255, 1);
    border-bottom-color: rgba(255, 79, 255, 1);
    border-left-color: rgba(153, 51, 255, 1);
    border-right-color: rgba(153, 51, 255, 1);
}

.storyContainer{
    font-size: 0;
    outline: 0px solid transparent;
}


.characterContainer{
    /*display: inline-block;*/
}

.brContainer{
    /*display: inline-block;*/
}

.xmlElementContainer{
    /*display: inline-block;*/
}

.contentContainer{
    /*display: inline-block;*/
}


p{

  /*text-align: center;*/
    /* WHY????? */
}

.myButton{
    margin-left: 1224px;
}

.style-pane{
    background: #ffffff;
    float: left;
    border: 1px solid black;
    height: 100%;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 20%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.toolBarWrapper{
    height: 22px;
    border: 1px solid black;
}

.mainContent{
    width: 100%;
    height: calc(100% - 25px);
}

.canvasWrapper{
    display: inline-block;
    overflow: scroll;
    height: 100%;
    width: 80%;
}

.component-list-header{
    text-align: center;
    background-color: #394869;
    color: white;
    font-weight: bold;
}

.component-list-element{
    padding: 2px 0 2px 0;
    border: 1px solid lightgrey;
}

.component-list-element.selected{
    background-color: bisque;
}