<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>POC</title>
    <link type="text/css" rel="stylesheet" href="css/styling.css">
    <link type="text/css" rel="stylesheet" href="css/idGeneratedStyles.css">
</head>

<body>

<div id="MainContainerBody">{{{content}}}</div>

<script rel="script" type="text/javascript" src="built.js"></script>
</body>

</html>
